.profile-cards .card {
    background-color: var(--entry) !important;
    color: var(--primary);
    border: 1px solid var(--border);
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}