.signup-button {
    background-color: var(--theme);
    color: var(--mainColor);
    padding: 4px 10px;
    font-weight: 700;
    border: 1px solid var(--mainColor);
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.signup-button:hover {
    background-color: var(--mainColor);
    color: var(--theme);
}